<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:aop="http://www.springframework.org/schema/aop"
 xmlns:tx="http://www.springframework.org/schema/tx"
 xmlns:p="http://www.springframework.org/schema/p"
 xmlns:context="http://www.springframework.org/schema/context"
 xmlns:mvc="http://www.springframework.org/schema/mvc"
 xmlns:mongo="http://www.springframework.org/schema/data/mongo"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
 http://www.springframework.org/schema/tx 
 http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
 http://www.springframework.org/schema/aop 
 http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context-4.3.xsd
 http://www.springframework.org/schema/mvc
 http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
 http://www.springframework.org/schema/data/mongo
 http://www.springframework.org/schema/data/mongo/spring-mongo-1.8.xsd"
>
	<!-- 注解扫描的包 -->
	<!-- 启动包扫描功能，以便注册带有@Controller、@Service、@repository、@Component等注解的类成为spring的bean -->  
    <context:component-scan base-package="com.gy"></context:component-scan>
    
    <!-- 启动Spring注解配置 -->
    <context:annotation-config />
    <!-- 缓存配置 -->
    
    <mvc:default-servlet-handler/>
    
    <!-- 开启注解方案1 -->
    <!-- 注解方法处理 -->
    <!--<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter"></bean>-->
    <!--&lt;!&ndash; 注解类映射处理 &ndash;&gt;-->
    <!--<bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping"></bean>-->
    
    <!-- 开启注解方案2 -->
    
    <!-- 启动注解驱动的Spring MVC功能，注册请求url和注解POJO类方法的映射--> 
	<mvc:annotation-driven />	
	
	<!-- 静态资源访问，方案1 -->
	<mvc:resources location="/images/" mapping="/images/**"></mvc:resources>
	<mvc:resources location="/js/" mapping="/js/**"></mvc:resources>	
	
	<!-- 静态资源访问,方案2 -->
	<!-- <mvc:default-servlet-handler/> -->
	
	<!-- 视图解释类 -->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/"></property>
		<!-- 可为空，方便实现自己的一句扩展名来选择视图解释类的逻辑 -->
		<property name="suffix" value=".jsp"></property>
	</bean>
	
	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"/> 
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter"> 
	    <property name="messageConverters"> 
	        <list>
	            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">               
	                <property name="supportedMediaTypes"> 
	                    <list>
	                    	<value>application/json;charset=UTF-8</value> 
	                        <value>text/html;charset=UTF-8</value> 
	                    </list> 
	                </property> 
	            </bean> 
	        </list> 
	    </property> 
	</bean>
	
	<!-- 上传或下载 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="utf-8"></property>
		<property name="maxUploadSize" value="10485760000"></property>
		<property name="maxInMemorySize" value="40960"></property>
	</bean>
	
</beans>