<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:aop="http://www.springframework.org/schema/aop"
 xmlns:tx="http://www.springframework.org/schema/tx"
 xmlns:context="http://www.springframework.org/schema/context"
 xmlns:mvc="http://www.springframework.org/schema/mvc"
 xsi:schemaLocation="http://www.springframework.org/schema/beans 
 http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
 http://www.springframework.org/schema/tx 
 http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
 http://www.springframework.org/schema/aop 
 http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context-4.3.xsd
 http://www.springframework.org/schema/mvc
 http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd"
 >
 	<!-- 配置用户实体类 -->
 	<bean id="userManager" class="com.gy.model.User"></bean>
 	
 	<!-- 配置游戏实体类 -->
 	<bean id="gameManager" class="com.gy.model.Game"></bean>
 	
 	<!-- 配置订单实体类 -->
 	<bean id="orderManager" class="com.gy.model.Order"></bean>
 	
 	<!-- 配置用户账户类型 -->
 	<bean id="accountManager" class="com.gy.model.Account"></bean>

 	<!-- 配置商品类型 -->
 	<bean id="goodsManager" class="com.gy.model.Goods"></bean>
 	
 	<!-- 配置用户验证Token类型 -->
 	<bean id="tokenManager" class="com.gy.model.Token"></bean>
 	
 	<!-- 配置用户验证OrderGoods类型 -->
 	<bean id="ordergoodsManager" class="com.gy.model.OrderGoods"></bean>
 	<!-- 配置其他的实体类，预留位置 -->
 	
</beans>